<li class="seat-card">
  <span class="swatch" data-seat="{{ seat.id }}"></span>
  <div>
    <p class="seat-school">{{ seat.school }}</p>
    <strong><a href="/seats/{{ seat.id }}/">{{ seat.shortName }}</a></strong>
    <span class="seat-line">{{ seat.sittingFrom }}</span>
  </div>
</li>
